@import"./utils/mixins";
@import"./utils/placeholders";
@import"./utils/vars";
@import"./base/reset";
@import"./base/commont";
@import"./section/poster";
@import"./section/main";
@import"./components/footer";
@import"./components/header";

.header__item:nth-child(2) .header__link {
    font-weight: 500;
    color: $hover-color;
    @include fontSize;
    line-height: 1.14;
    justify-content: right;
    position: relative;

    &:hover,
    &:focus {
        color: #2196f3;
    }

    &::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $hover-color;
        border-radius: 3px;
        position: absolute;
        top: 43px;
        left: 0;
    }


    &:hover::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $hover-color;
        border-radius: 3px;
        position: absolute;
        top: 43px;
        left: 0;
    }
}