.advantages {
  padding-top: 94px;
  padding-bottom: 46px;
  display: flex;




  &__list {
    @include flex ($justify: space-between);
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 0;

    @media screen and (min-width:480px) {}

    &__text {
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: $secondary-color;
      max-width: 270px;

      @media screen and (min-width:480px) {
        max-width: 450px;
        height: 50px;
        text-align: center;
      }
    }

    &__item:nth-child(1):after {
      background-image: url(/img/clock\ 1.png);
      width: 65px;
      height: 70px;
    }

    &__item:nth-child(2)::after {
      background-image: url(/img/diagram\ 1.png);
      width: 65px;
      height: 70px;
    }

    &__item:nth-child(3):after {
      background-image: url(/img/astronaut\ 1.png);
      width: 65px;
      height: 70px;
    }

    &__item:last-child:after {
      background-image: url(/img/antenna.png);
      width: 65px;
      height: 70px;
    }
  }
}