.advantages {
  padding-top: 94px;
  padding-bottom: 46px;
  display: flex;

  &__list {
    @include flex ($justify: space-between);
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 0;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-color;
    height: 72px;
    width: 270px;
  }

  &__img {
    border-radius: 4px;
    width: 70px;
    height: 70px;
  }

  &__item {
    width: 270px;
    height: 248px;
  }
}