.hero {
  padding: 200px 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: $white-color;
  display: flex;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/фон-hero.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width:480px) {
    align-items: center;
    justify-content: center;
    padding: 118px 0;
  }



  &__button {
    @extend %button;
    margin-left: auto;
    margin-right: auto;
    transition: transform 250ms linear 100ms;
  }

  &__button:hover {
    transform: scale(1.3);
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    width: 696px;

    @media screen and (max-width:480px) {
      font-size: 26px;
      max-width: 360px;
      width: 100%;
    }
  }
}