.team {
    padding-top: 94px;
    background: #F5F4FA;

    @media screen and (min-width:320px) {
        display: block;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width:1200px) {
            display: flex;
            gap: 30px;
            margin-top: 49px;
            padding-bottom: 93px;
        }
    }

    &__item {
        border-radius: 0px 0px 4px 4px;
        background-color: $white-color;
        transition: box-shadow 500ms linear 100ms, transform 500ms linear 100ms, border 500ms linear 100ms;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        @media screen and (min-width:320px) {
            width: 100%;
            max-width: 450px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
            height: 428px;
            margin-top: 30px;
        }
    }

    &__item:hover {
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
        border: none;
        transform: scale(1.05);

    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color;

        @media screen and (min-width:320px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }

    &__img {
        @media screen and (min-width:320px) {
            max-width: 450px;
            width: 100%;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
            height: 260px;
        }

    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.7;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color;
        margin-top: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-color;
        margin-top: 10px;
    }

    &__icon-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
        margin-bottom: 30px;

        @media screen and (min-width:320px) {
            align-content: center;
            justify-content: center;
            margin-top: 16px;
        }
    }

    &__icon-item {
        border-radius: 100%;
        padding: 12px;
        width: 44px;
        height: 44px;
        transition: background-color 250ms linear 100ms;
    }

    &__icons {
        width: 20px;
        height: 20px;
        fill: $icon-color;
        transition: fill 250ms linear 100ms;
    }

    &__icon-item:hover &__icons {
        fill: $white-color;

    }

    &__icon-item:hover {
        background-color: $hover-color;
    }

    &__icon-item:hover,
    &__icon-item:focus-within .team-icon {
        fill: $white-color;
    }

    &__icon-item:hover,
    &__icon-item:focus-within {
        background-color: $hover-color;
    }
}