.team {
    padding-top: 94px;
    background: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
    margin-top: 16px;
    padding-bottom: 93px;
}

.team-item {
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-item:hover,
.team-item:focus-within {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    transform: scale(1.05);
    transition: background-color 250ms linear 100ms, box-shadow 300ms linear 100ms, transform 500ms linear 100ms;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.icon-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding-bottom: 30px;
}

.icon-team-item {
    border-radius: 100%;
    padding: 12px;
    width: 44px;
    height: 44px;
}

.team-icons {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.icon-team-item:hover .team-icons {
    fill: #FFF;

}

.icon-team-item:hover {
    background-color: var(--hover-color);
}

.icon-team-item:hover,
.icon-team-item:focus-within .icon-team {
    fill: #FFF;
}

.icon-team-item:hover,
.icon-team-item:focus-within {
    background-color: var(--hover-color);
}