.work {
  padding-top: 46px;
  padding-bottom: 94px;

  @media screen and (min-width: 320px) {
    display: none;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 60px;
  }

  @media screen and (max-width:480px) {
    display: none;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $text-color;
  }

  &__wrapper {
    width: 100%;
    @include flex();
    background: rgba(47, 48, 58, 0.80);
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__subtitle {
    color: $white-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    height: 294px;
    width: 370px;
    transition: transform 150ms linear 100ms;
  }

  &__item:hover {
    transform: scale(1.1);
  }

  &__list {
    @include flex($justify: space-between, $align: flex-start);
  }

  &__img {
    height: 294px;
    width: 370px;
  }
}