a {
    text-decoration: none;
}

.header-logo {
    font-family: 'Bilbo Swash Caps';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 1.3px;

    color: #FED136;
}

.header-link {
    font-family: 'Montserrat';

    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    text-transform: uppercase;

    color: #FED136;
}