@mixin flex ($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
}

@mixin fontSize ($font: 14px) {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}