.footer {

    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
        padding-right: 70px;
    }

    &__item {
        max-width: 231px;
    }

    &__logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196f3;
        display: flex;
    }

    &__word {
        color: $white-color;
    }

    &__phonenumber {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &__emael {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &__address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-top: 20px;
    }

    &__social-title {
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__our-telegram {
        padding-left: 93px;
    }

    &__tg-container {
        display: flex;
        gap: 12px;
    }

    &__tg-form {
        width: 358px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        transition: background-color 250ms linear 100ms, box-shadow 300ms linear 100ms, transform 350ms linear 100ms;
    }

    &__tg-form:hover {
        background-color: 2px solid $hover-color;
    }

    &__tg-title {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__tg-button {
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 0;
        background: $hover-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__button-send {
        width: 24px;
        height: 24px;
        fill: rgba(255, 255, 255, 1);
    }

    &__socials-list {
        display: flex;
        gap: 10px;
    }

    &__social-item {
        border-radius: 100%;
        padding: 12px;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.10);
        transition: background-color 250ms linear 100ms, transform 350ms linear 100ms;
    }

    &__social-item:hover {
        background-color: $hover-color;
    }

    &__social-img {
        width: 20px;
        height: 20px;
        fill: #FFF;
    }

}