.header {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 100%;
    backdrop-filter: blur(100%);
    background-color: $white-color;

    &__flex {
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {}
    }

    &__navigation {

        @media screen and (min-width: 768px) {
            width: auto;
        }

    }

    &__list {
        display: flex;
        gap: 50px;
        align-items: center;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }


    &__link {
        font-weight: 500;
        color: $text-color;
        @include fontSize($font: 14px);
        justify-content: right;
        position: relative;
        transition: color 250ms linear 100ms;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }

    &__link:hover {
        color: $hover-color;
        @include fontSize($font: 14px);
    }

    &__link:focus {
        color: $hover-color;
        @include fontSize($font: 14px);
    }

    &__contact {

        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }


    &__contact:hover {
        fill: #2196f3;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 10px;
        cursor: pointer;
    }


    &__phonenumber {
        color: $secondary-color;
        height: 16px;
        transition: color 250ms linear 100ms;


        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.02em;
        }

        @media screen and (min-width: 1200px) {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
        }

    }

    &__phonenumber:hover {
        color: $hover-color;
    }

    &__accent {
        color: $hover-color;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 1.19;
    }

    &__logo {
        color: #212121;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        margin-right: 93px;
        animation-name: run-title;
        animation-duration: 2s;

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            letter-spacing: 0.78px;
        }

        @media screen and (max-width: 767px) {
            margin-right: 0;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 30px;

        @media screen and (min-width: 767px) {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__emael {
        color: $secondary-color;
        transition: color 250ms linear 100ms;

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.02em;
        }

        @media screen and (min-width: 1200px) {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
        }
    }

    &__emael:hover {
        color: $hover-color;
    }

    &__emael:focus {
        color: $hover-color;
    }

    &__bth {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__burger {
        background-color: transparent;

        @media screen and (min-width: 320px) {
            margin-left: 50px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }

    }
}