.header {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 100%;
    backdrop-filter: blur(100%);
    background-color: #ffffff;


    &__flex {
        display: flex;
        align-items: center;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__pages {
        gap: 50px;
        align-items: center;
        margin-left: 93px;

    }

    &__link-main {
        font-weight: 500;
        color: var(--hover-color);
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        justify-content: right;
        position: relative;
    }

    &__link-main:hover,
    &__link-main:focus {
        color: #2196f3;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        opacity: calc(1);
        outline: none;
    }

    &__link-main::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: var(--hover-color);
        border-radius: 3px;
        position: absolute;
        top: 43px;
        left: 0;
    }

    &__link-second {
        font-weight: 500;
        color: #212121;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        justify-content: right;
        position: relative;
    }

    &__link-second:hover {
        color: var(--hover-color);
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        opacity: calc(1);
    }

    &__link-second:focus,
    &__link-main:focus {
        color: var(--hover-color);
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
    }

    &__link-second:hover::after {
        content: "";

        width: 100%;
        height: 5px;
        background-color: var(--hover-color);
        border-radius: 3px;
        position: absolute;
        top: 43px;
        left: 0;

    }

    &__link-third {
        font-weight: 500;
        color: #212121;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        justify-content: right;
        position: relative;

    }

    &__link-third:hover {
        color: var(--hover-color);
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        opacity: calc(1);
    }

    &__link-third:focus {
        color: var(--hover-color);
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
    }

    &__link-third:hover::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: var(--hover-color);
        border-radius: 3px;
        position: absolute;
        top: 43px;
        left: 0;

    }

    &__contact {
        fill: rgba(117, 117, 117, 1);
        justify-content: center;
    }

    &__contact:hover {
        fill: #2196F3;
    }

    &__icon-envelope {
        width: 16px;
        height: 12px;
        flex-shrink: 0;
        margin-right: 10px;
        cursor: pointer;
    }

    &__icon-phone {
        width: 10px;
        height: 16px;
        flex-shrink: 0;
        margin-right: 10px;
        cursor: pointer;
    }


    &__phonenumber {
        color: #757575;
    }

    &__phonenumber:hover {
        color: #2196f3;
    }

    &__logo2 {
        color: var(--hover-color);
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 1.19;
    }

    &__logo1 {
        color: #000000;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 1.19;
        width: 134px;
    }



    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 30px;
    }

    &__emael {
        color: #757575;
    }

    &__emael:hover {
        color: var(--hover-color);
    }

    &__emael:focus {
        color: var(--hover-color);
    }


    &__bth {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: auto;
        display: flex;
        justify-content: end;
        flex-direction: column;
    }
}