.header {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 100%;
    backdrop-filter: blur(100%);
    background-color: $white-color;



    &__flex {
        @include flex ($align: center, $justify: center);
    }

    &__navigation {
        @include flex ($align: center, $justify: center);
    }

    &__list {
        gap: 50px;
        @include flex ($align: center, $justify: center);
        margin-left: 93px;


    }


    &__link {
        font-weight: 500;
        color: $text-color;
        @include fontSize ($font: 14px);
        justify-content: right;
        position: relative;


    }

    &__link:hover {
        color: $hover-color;
        @include fontSize ($font: 14px);
    }

    &__link:focus {
        color: $hover-color;
        @include fontSize ($font: 14px);
    }

    &__contact {
        display: none;
        gap: 50px;
        align-items: center;
        margin-left: auto;
        fill: rgba(117, 117, 117, 1);
        justify-content: center;
    }


    &__contact:hover {
        fill: #2196f3;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 10px;
        cursor: pointer;
    }


    &__phonenumber {
        color: $secondary-color;
    }

    &__phonenumber:hover {
        color: $hover-color;
    }

    &__accent {
        color: $hover-color;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 1.19;
    }

    &__logo {
        color: #000000;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 1.19;
        width: 134px;
        height: 28px;

        @media screen and (min-width: 320px) {
            margin-left: 15px;
        }
    }



    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 30px;
    }

    &__emael {
        color: $secondary-color;
    }

    &__emael:hover {
        color: $hover-color;
    }

    &__emael:focus {
        color: $hover-color;
    }


    &__bth {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}